# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Intellij Idea files
The-Buzz-Backend/.idea/*
# MacOS folder information files
.DS_Store
# Temporary file scematic until I create a script to setup automatically
The-Buzz-Backend/Temp/*
# Temporary file scematic until I create a script to setup automatically
The-Buzz-Backend/Live/*
# Intellij Idea files
.idea
# Where locally run builds compile to
/The-Buzz-Backend/target/
/The-Buzz-Backend/.project
/The-Buzz-Backend/.classpath
/The-Buzz-Backend/.factorypath
/The-Buzz-Backend/.settings/
/The-Buzz-Backend/bin/
/The-Buzz-Backend/.mvn/

/.project

